*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #6b8f71;
    text-align: center;
}
.h1{
    font-size: 4rem;
}

.container{
    height: 70vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 80px;
    background-color:whitesmoke;
    text-align: center;
    color: black;

}
.resetbtn{
    padding: 9px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    background-color: #1d1e18;
    color: antiquewhite;
}
.newbtn{
    padding: 9px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    background-color: #1d1e18;
    color: antiquewhite;
}

.parah{
    font-size: 35px;
    color: #1d1e18;
    margin-top: 5px;

}
.hide{
    display: none;
}